.marquee {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 8s linear infinite;
  }
  
  .marquee:hover {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(-100% + 10rem));
    }
    60% {
      transform: translateX(calc(-100% + 10rem));
    }
    100% {
      transform: translateX(0);
    }
  }

  /* In your global CSS or component styles */
.logo-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(255,255,255,0.1), transparent); /* Subtle fill for small images */
  border-radius: 9999px;
}